
.ca-menu{
    padding:0;
    margin:20px auto;
}
.ca-menu li{

    width: 100%;
    height: 470px;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-right: 2px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
border-radius:6px;
}
{

}

.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    position: relative;    
}

.ca-icon img{
 width:170px;    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}
.ca-main{
    font-size: 30px;
    opacity: 1;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	direction:rtl;padding:10px;      margin-top: 165%;
    color: #000;
}
.ca-sub{
    text-align:center;
    font-size: 17px;
    color: #fff;
    opacity: 1;padding:10px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	direction:rtl;
	text-align:justify;
		margin-top:90%;
}

.ca-menu #learning
{
	background-color:#fff;
    background: url(../menu/Dorehaye-Yadgiri.jpg) center center;
    background-size: cover;
}
.ca-menu #learning:hover{
    background-color: #000;
	background:#000;
}
.ca-menu #reg
{
	background-color:#fff;
    background: url(../menu/Sabtenam2.jpg) center center;
    background-size: cover;
}
.ca-menu #reg:hover{
    background-color: #000;
	background:#000;
}

.ca-menu #education
{
	background-color:#fff;
    background: #ffffff url(../menu/Chera-SSD.png) center center;
    background-size: cover;
}
.ca-menu #education:hover{
    background: #ffffff url(../menu/Chera-SSD2.png) center center;
	background-size: cover;
}

.ca-menu #learning
{
	background-color:#fff;
    background: #ffffff url(../menu/Yadgiri.png) center center;
    background-size: cover;
}
.ca-menu #learning:hover{
    background: #ffffff url(../menu/Yadgir2i.png) center center;
	background-size: cover;
}
.ca-menu #reg
{
	background-color:#fff;
    background: #ffffff url(../menu/sabt1.png) center center;
    background-size: cover;
}
.ca-menu #reg:hover{
    background: #ffffff url(../menu/sabt2.png) center center;
	background-size: cover;
}
.ca-menu #mali
{
	background-color:#fff;
    background: #ffffff url(../menu/marketing_strategy.png) center center;
    background-size: cover;
}
.ca-menu #mali:hover{
    background: #ffffff url(../menu/marketing_strategy1.png) center center;
	background-size: cover;
}
.ca-menu #archive
{
	background-color:#fff;
    background: #ffffff url(../menu/archive.png) center center;
    background-size: cover;
}
.ca-menu #archive:hover{
    background: #ffffff url(../menu/archive2.png) center center;
	background-size: cover;
}
.ca-menu #fani
{
	background-color:#fff;
    background: #ffffff url(../menu/fani.png) center center;
    background-size: cover;
}
.ca-menu #fani:hover{
    background: #ffffff url(../menu/fani1.png) center center;
	background-size: cover;
}

.ca-menu #mod
{
	background-color:#fff;
    background: #ffffff url(../menu/mod1.png) center center;
    background-size: cover;
}
.ca-menu #mod:hover{
    background: #ffffff url(../menu/mod3.png) center center;
	background-size: cover;
}

.ca-menu #org
{
	background-color:#fff;
    background: #ffffff url(../menu/ORGANIZATION.png) center center;
    background-size: cover;
}
.ca-menu #org:hover{
    background: #ffffff url(../menu/ORGANIZATION1.png) center center;
	background-size: cover;
}

.ca-menu #dan
{
	background-color:#fff;
    background: #ffffff url(../menu/dan1.png) center center;
    background-size: cover;
}
.ca-menu #dan:hover{
    background: #ffffff url(../menu/dan2.png) center center;
	background-size: cover;
}

.ca-menu #clinic
{
	background-color:#fff;
    background: #ffffff url(../menu/Technology.png) center center;
    background-size: cover;
}
.ca-menu #clinic:hover{
    background: #ffffff url(../menu/Technology1.png) center center;
	background-size: cover;
}

.ca-menu #ser
{
	background-color:#fff;
    background: #ffffff url(../menu/ser2.png) center center;
    background-size: cover;
}
.ca-menu #ser:hover{
    background: #ffffff url(../menu/ser1.png) center center;
	background-size: cover;
}

.ca-menu #entrepreneur
{
	background-color:#fff;
    background: #ffffff url(../menu/entrepreneur.png) center center;
    background-size: cover;
}
.ca-menu #entrepreneur:hover{
    background: #ffffff url(../menu/entrepreneur1.png) center center;
	background-size: cover;
}



.ca-menu li:hover .ca-icon{
    color: #fff;
    font-size: 110px;
}
.ca-menu li:hover .ca-icon img{
width:185px;opacity:1;
}
.ca-menu li:hover .ca-main{
    color: #fff;
    -webkit-animation: moveFromLeftRotate 300ms ease;
    -moz-animation: moveFromLeftRotate 300ms ease;
    -ms-animation: moveFromLeftRotate 300ms ease;margin-top:70%;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;margin-top:30%;

}
@-webkit-keyframes moveFromLeftRotate{
    from {
        -webkit-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -webkit-transform: translateX(0%) rotate(0deg);
    }
}
@-moz-keyframes moveFromLeftRotate{
    from {
        -moz-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -moz-transform: translateX(0%) rotate(0deg);
    }
}
@-ms-keyframes moveFromLeftRotate{
    from {
        -ms-transform: translateX(-100%) rotate(-90deg);
    }
    to {
        -ms-transform: translateX(0%) rotate(0deg);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}
@media only screen and (min-width:480px) and (max-width: 768px)
{
.ca-main{
    font-size: 30px;
    opacity: 1;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	direction:rtl;padding:10px;      margin-top: 110%;
    color: #000;
}
.ca-sub{
    text-align:center;
    font-size: 17px;
    color: #fff;
    opacity: 1;padding:10px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
	direction:rtl;
	text-align:justify;
		margin-top:90%;
}
}